<div class="card text-center">
	<img src="#" class="card-image-top" alt="room<%= room.id%>">
	<div class="card-body">
		<h5 class="card-title"><%= room.name %>: <%= room.price %> </h5>
		<p class="card-text"><%= room.text%></p>
		<%= link_to "VIEW DETAILS", room, class: "btn btn-danger" %>
	</div>
	
</div>